|ID| .mobilemenuck {
    text-shadow: 1px -1px 2px #000;
}

|ID| .mobilemenuck div span.descck {
    padding-left: 10px;
    font-size: 12px;
}

|ID| .mobilemenuck div.level4 > a {
    padding-left: 85px;
}

|ID| .mobilemenuck div.level5 > a {
    padding-left: 95px;
}

